.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img{
    height: 400px;
    width: 500px;
    border: 1px solid burlywood;
}

.slider button{
    background-color: purple;
    border: 1px solid maroon;
    color: white;
    display: inline-block;
    height: 30px;
    border-radius: 5px;
}